*{
    margin: 0;
    padding: 0;
}
body{
    color: aliceblue;
    font-family: "Roboto", sans-serif;
}
header{
    background-color: rgb(20, 20, 73);
    display: flex;
    position: sticky;
    top: 0;
    height: 65px;
    align-items: center;
}
header h1{
    margin-left: 75px;
}
header nav{
    position: absolute;
    right: 80px;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
    margin: 10px;
}
header nav ul li:hover{
    text-decoration:underline;
}

.first{
    height: 600px;
    background-image: url(music.png);
    background-repeat: no-repeat;
    background-position: center;
}
.first div{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first div h1{
    font-size: 96px;
    margin-bottom: 20px;
}
.first div h3{
    font-size: 32px;
    margin-bottom: 20px;
}
.first div  p{
    margin: 10px 95px;
}
